

body {
  background-color: linen;
}

font {
  family: Helvetica, sans-serif;
  size: 18px;
  weight: bold;
}

a {
  color: blue;
  &:visited {
  color: darkturquoise;
  }
  &:hover {
  color: red;
  }
  &:active {
  color: yellow;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: lightgray;
  }
}

$fontcolor:darkslategray;
$fontstyle: times;

%xcredit{
    font: 3em $fontstyle;
    color: red;
}

.practice {
    color: $fontcolor;
    font: 2em $fontstyle;  
}

#extracredit{
    color:red;
    font: 2em $fontstyle;
}

h1 {
  color: $fontcolor;
  font: verdana;
  text-align: center;
  border: black;
  border-spacing: 30px;
} 

table {
    border:  3px solid black;
 
    align-self: center;
}

tr, td {
    border: 3px solid black;
}

.nav-link{
  color: blue;
  font: $fontstyle;
}

.nav-link-home{
  @extend .nav-link;
  color: darkgreen; 
  font-size: 2em;
}
